<header>
  <div class="header-logo">
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/">HOME</a>
    </li>
  </ul>
</header>

<% posts1 = "よー！" %>
<% posts2 = "ページ作成中！" %>

<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      <%= posts1 %>
    </div>
    <div class="posts-index-item">
      <%= posts2 %>
    </div>
  </div>
</div>